%h1= @event.name
%h4= "Created by: #{@event.created_by}"
%p= "Location: #{@event.location}" if @event.location.present?
%table#candidates{'data-source' => "#{candidates_event_path(format: :json)}"}
  %thead
  %tbody
= link_to 'Events', events_path
